<section>
    <h1 class="text-center text-main mu-2">Forgot Password</h1>

    @if (step == 1) {

        <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()" class="bg-main-light rounded-4 shadow p-3">
            <div class="my-2">
                <label for="email">email</label>
                <input formControlName="email" class="form-control" type="email" id="email">
            </div>
            <button [disabled]="verifyEmail.invalid" class="btn-main">Verfiy Email</button>
        </form>
    
    }
    @else if (step == 2) {

        <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()" class="bg-main-light rounded-4 shadow p-3">
            <div class="my-2">
                <label for="resetCode">resetCode</label>
                <input formControlName="resetCode" class="form-control" type="text" id="resetCode">
            </div>
            <button [disabled]="verifyCode.invalid" class="btn-main">Verifyy Code</button>
        </form>
    }
    
    @else if (step == 3) {

        <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()" class="bg-main-light rounded-4 shadow p-3">
            <div class="my-2">
                <label for="email">email</label>
                <input readonly formControlName="email" class="form-control" type="email" id="email">
            </div>
            <div class="my-2">
                <label for="newPassword">newPassword</label>
                <input formControlName="newPassword" class="form-control" type="password" id="newPassword">
            </div>
            <button [disabled]="resetPassword.invalid" class="btn-main">Verfiy Email</button>
        </form>
    
    }

   
    
</section>
