<section class="bg-main-light shadow p-2 my-2 rounded-4">
    <h1 class="h2 text-main">Login Now :</h1>

    <form [formGroup]="loginFrom" (ngSubmit)="loginSubmit()">

        <div class="my-2">
            <label for="email">Email</label>
            <input [ngClass]="{
                'is-valid': ! loginFrom.get('email')?.errors && (loginFrom.get('email')?.touched || loginFrom.get('email')?.dirty) ,
                'is-invalid': loginFrom.get('email')?.errors && (loginFrom.get('email')?.touched || loginFrom.get('email')?.dirty)

            }" formControlName="email" type="email" class="form-control">

            @if(loginFrom.get('email')?.errors && (loginFrom.get('email')?.touched || loginFrom.get('email')?.dirty))
            {
                <div class="alert alert-danger w-100 p-1">
                    @if(loginFrom.get('email')?.getError('required'))
                    {
                        <p class="m-0">Email Is Required</p>
                    }
                    @else if (loginFrom.get('email')?.getError('email')) 
                    {
                        <p class="m-0">Enter Valid Email</p>
                    }
                    

                </div>
            }
        </div>

        <div class="my-2">
            <label for="password">Password</label>
            <input [ngClass]="{
                'is-valid': !loginFrom.get('password')?.errors && (loginFrom.get('password')?.touched || loginFrom.get('password')?.dirty) ,
                'is-invalid': loginFrom.get('password')?.errors && (loginFrom.get('password')?.touched || loginFrom.get('password')?.dirty)
            }" formControlName="password" id="password" type="password" class="form-control">

            @if(loginFrom.get('password')?.errors && (loginFrom.get('password')?.touched || loginFrom.get('password')?.dirty))
            {
                <div class="alert alert-danger w-100 p-1">
                    @if(loginFrom.get('password')?.getError('required'))
                    {
                        <p class="m-0">Password Is Required</p>
                    }
                    @else if (loginFrom.get('password')?.getError('pattern')) 
                    {
                        <p class="m-0">Enter Valid Password</p>
                    }
            
        </div>
    }
        </div>

           <!--  [disabled]="loginFrom.invalid || isLoading" -->

           <div class="d-flex align-items-center justify-content-end gap-4">
            <a routerLink="/forgot" class="link-primary">ForgotPassword</a>
            <button  type="submit" class="btn-main">Register
                
                @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                }
                
            </button>
           </div>
          


        @if (msgError) {
            <p class="alert alert-danger w-50 m-0 p-1 ">{{msgError}}</p>
        }
        @if (msgSuccess) {
            <p class="alert alert-success">Success</p>
        }
    </form>

</section>
